:root{
    --bgColor: #17191b;
    --colorNeon1: #33CCCC;
    --colorNeon2:#cc33b8;
    --colorFont:#fff;
    --gradient: -webkit-linear-gradient(left, var(--colorNeon1), var(--colorNeon2));

}
*{margin: 0;padding: 0;box-sizing: border-box; font-family: sans-serif;}
body{
    padding-top: 120px;
}
.header{
    background-color: var(--bgColor);
    width: 100%;
    height: 80px;
    color: var(--colorFont);
    display: flex;
    justify-content: space-around;
    position: fixed; /* Mantiene fijado el header*/
    top: 0;
    left: 0;
    z-index: 1;
}
.header a{
    text-decoration: none;
}
.logo{
    padding-left: 60px;
    line-height: 80px;
    background-image: linear-gradient(45deg, var(--colorNeon1),var(--colorNeon2) );
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
}
.toggle{
    font-size: 2.5rem;
    background: none;
    border: none;
    background-image: linear-gradient(45deg, var(--colorNeon2),var(--colorNeon1));
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color:transparent;
        -moz-text-fill-color:transparent;
        transition: 0.1s;
    display: none;


}

.buscador{
    width: 25%;
    height: 35px;
    color: #363738;
    font-size: 15;
    font-weight: bold;
    padding-left: 10px;
    align-self: center;
}
.icons{
    display: flex;
    justify-content: space-around;
    margin-right: 60px;
    width: 20%;
   
}
.icons button{
    background: none;
    border: none;
    cursor: pointer;
   
}
.icons button svg{
    width: 40px;
    height: 40px;
    
    transition: 0.5s;
    color: var(--colorNeon1);

}

.icons button svg:hover{
    width: 60px;
    height: 60px;
    transition: 0.5s;
    
}
.nav{
    width: 100%;
    height: 40px;
    background-color: var(--bgColor);
    position: fixed; /* Mantiene fijado el navbar*/
    top: 80px;
    left: 0;
    z-index: 1;

}
.nav-menu{
    width: 800px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    list-style: none;
}

/*========  Menu Desplegable =========*/

.nav-menu li ul{
    list-style: none;
    margin-top: 18px;
}

.nav-menu  li ul li a{
    background-color: var(--bgColor);
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    display: block;
}
.nav-menu > li{
    float: left;
}
.nav-menu a:hover{

    border: 3px solid transparent;
    border-image: var(--gradient);
    border-image-slice: 1%;
    transition: 0.1s;
}

.nav-menu li ul{
    display:none;
    position: absolute;
    min-height: 170px;
}
.nav-menu li:hover > ul{
    display: block;
}
/*=================================*/


.nav-menu-item{
   text-transform: uppercase;
   font-size: 18px;
}
.nav-menu-link{
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
    transition: 0.3s;
}

/*======= MENU DE PRODUCTOS ==================*/

.wrap{
	width: 100%;
	margin: auto;
}


.store-dreamd{
	display: flex;
	flex-wrap: wrap;
}

.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;
	background: linear-gradient(var(--bgColor), #201620);
	padding: 40px 40px;

}
.category_list h2{
	color: #fff;
}

.category_list .category_item{
	display: block;
    text-decoration: none;
    color: #ebebeb;
    width: 100%;
    margin-top: 35px;
    font-size: 1rem;
    font-weight: 520;
}

.category_list .ct_item-active{
	background-image: linear-gradient(45deg, var(--colorNeon2),var(--colorNeon1));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
}

/* PRODUCTOS ============*/

.products-list{
	width: 82%;
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0;
}


.products-list .product-item{
	width: 22%;
	margin-left: 3%;
	margin-top: 25px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;

	transition: all .4s;
	
}

.products-list .product-item img{
	width: 100%;
}

.products-list .product-item a{
	display: block;
	width: 100%;
	padding: 8px 0;
	
	font-size: 17.5px;
	color: #3b3c3d;
	text-align: center;
	text-decoration: none;
}
.precio{
	color: #2c095a;
	font-weight: 600;
}
.addCar{
	width: 80%;
	margin: auto;
	background-color: var(--bgColor);

	color: #fff;
	font-size: 0.9rem;
	font-weight: 500;
	
	padding: 4px 0;
	border: 3px solid transparent;
    border-image: var(--gradient);
    border-image-slice: 1%; 
	
    transition: 0.5s;
	display: flex;
	width: 80%;
	justify-content: space-around;
	align-items: center;

}
/*============ HOVER ===============*/
.caja{
    position: relative;
    width: 160px;
    height: 220px;
    overflow: hidden;
}
.caja img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;

   
}
.caja img:hover{
    transform: scale(1.3);
}
.rojo{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(248, 0, 0);
    /* bottom: -100%;
    padding: 10px 65px;
    transition: .5s;
    opacity: 0.8; */
    bottom: -120%;
    padding: 5px 0px;
    transition: .5s; 
    opacity: 0.8;
    text-align: center;
}
.rojo p{
    color: white;
    font-size: 20px;
    font-weight: 600;
   
}
.caja:hover .rojo{
    bottom: -80%;
    transition: .5s;
}
.azul{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 26, 255);
    /* bottom: -100%;
    padding: 10px 65px;
    transition: .5s;
    opacity: 0.8; */
    bottom: -120%;
    padding: 5px 0px;
    transition: .5s; 
    opacity: 0.8;
    text-align: center;
}
.azul p{
    color: white;
    font-size: 20px;
   
}
.caja:hover .azul{
    bottom: -80%;
    transition: .5s;
    font-weight: 600;
}

.violeta{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(130, 0, 251);
    
    bottom: -120%;
    padding: 5px 0px;
    transition: .5s; 
    opacity: 0.8;
    text-align: center;
}
.violeta p{
    color: white;
    font-size: 20px;
    font-weight: 600;
   
}
.caja:hover .violeta{
    bottom: -80%;
    transition: .5s;
}

/*============ FOOTER ==============*/
footer{
    background: linear-gradient( #201620 5%, var(--bgColor) 95%);
    
    width: 100%;
}
footer a{
    text-decoration: none;
    color: var(--colorFont);
}
.bloque1{
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    
}
.left h2{
    background-image: var(--gradient);
   background-clip: text;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color:transparent;
   -moz-text-fill-color:transparent;
   font-size: 1.5rem;  
}
.left ul{
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 1.6rem;
    list-style: none;
}

.right h3{
    font-size: 1rem;
    color: var(--colorFont);
}
.right .icons_redes{
    padding: 15px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    

}
.icons_redes svg{
    width: 20px;
    height: 20px;
}
.bloque2{
    padding-top: 20px;
    border-top: solid 3px transparent;
    border-image: linear-gradient(to right, #33CCCC 0%, #cc33b8 100%) 1;
}
.bloque2 div{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: max-content;
    margin: auto;
}
.bloque2 div img{
    width: 40px;
}

.bloque2 p{
    padding: 10px 0;
    text-align: center;
    font-size: 0.8rem;
    color: var(--colorFont);
}

@media(max-width:900px){
    body{
        padding-top: 80px;
    }
}



