:root{
    --bgColor: #17191b;
    --colorNeon1: #33CCCC;
    --colorNeon2:#cc33b8;
    --colorFont:#fff;
    --gradient:-webkit-linear-gradient(left, var(--colorNeon1), var(--colorNeon2));
}

*{margin: 0;padding: 0;box-sizing: border-box; font-family: sans-serif;}

body{
    padding-top: 150px;
}
.header{
    background-color: var(--bgColor);
    width: 100%;
    height: 80px;
    color: var(--colorFont);
    display: flex;
    justify-content: space-around;
    position: fixed; /* Mantiene fijado el header*/
    top: 0;
    left: 0;
    z-index: 1;
}
.logo{
    padding-left: 60px;
    line-height: 80px;
    background-image: linear-gradient(45deg, var(--colorNeon1),var(--colorNeon2) );
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    font-size: 50px;
}
.toggle{
    font-size: 2.5rem;
    background: none;
    border: none;
    background-image: linear-gradient(45deg, var(--colorNeon2),var(--colorNeon1));
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color:transparent;
        -moz-text-fill-color:transparent;
        transition: 0.1s;
    display: none;


}

.buscador{
    width: 25%;
    height: 35px;
    color: #363738;
    font-size: 15;
    font-weight: bold;
    padding-left: 10px;
    align-self: center;
}
.icons{
    display: flex;
    justify-content: space-around;
    margin-right: 60px;
    width: 20%;
   
}
.icons button{
    background: none;
    border: none;
    cursor: pointer;
   
}
.icons button svg{
    width: 40px;
    height: 40px;
    
    transition: 0.5s;
    color: var(--colorNeon1);

}

.icons button svg:hover{
    width: 60px;
    height: 60px;
    transition: 0.5s;
    
}
.nav{
    width: 100%;
    height: 40px;
    background-color: var(--bgColor);
    position: fixed; /* Mantiene fijado el navbar*/
    top: 80px;
    left: 0;
    z-index: 1;
}
.nav-menu{
    width: 800px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    list-style: none;
}

/*========  Menu Desplegable =========*/

.nav-menu li ul{
    list-style: none;
    margin-top: 18px;
}

.nav-menu  li ul li a{
    background-color: var(--bgColor);
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    display: block;
}
.nav-menu > li{
    float: left;
}
.nav-menu a:hover{
    border: 3px solid transparent;
    border-image: var(--gradient);
    border-image-slice: 1%;
    transition: 0.1s;
}

.nav-menu li ul{
    display:none;
    position: absolute;
    min-height: 170px;
}
.nav-menu li:hover > ul{
    display: block;
}
/*=================================*/


.nav-menu-item{
   text-transform: uppercase;
   font-size: 18px;
}
.nav-menu-link{
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
    transition: 0.3s;
}

/*=========================================*/
#contenedor{
    
     width: 100%;
     height: 600px;
}
#contenedor_1{
    width: 100%;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    
}
.slide{
   display: flex;
   transform: translate3d(0,0,0);
   transition: all 600ms;
   animation-name: autoplay;
   animation-duration: 6.5s;
   animation-duration: alternate;
   animation-fill-mode: forwards;
   animation-iteration-count: infinite;
}
.i-slide{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-shrink: 0;
   flex-grow: 0;
   width:100%
}
.pag{
   position: absolute;
   bottom: 20px;
   left: 0;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   width: 100%;
}
.pagina{
   display: flex;
   flex-direction: column;
   align-items: center;
   border: solid white 2px;
   width: 16px;
   height: 16px;
   border-radius: 4px;
   overflow: hidden;
   cursor: pointer;
   background: rgba(255, 255, 255, 0.5);
   margin: 0 10px;
   text-align: center;
   transition: all 300ms;
}
.pagina :hover{
   transform: scale(2);
}
.pagina img{
   display: inline-block;
   max-width: none;
   height: 100%;
   transform: scale(1);
   opacity: 0;
   transition: all 300ms;
}
.pagina :hover{
   opacity: 1;
   transform: scale(1);
}
input[id="1"]:checked ~ .slide{
   animation: none;
   transform: translate3d(0,0,0);
}
input[id="1"]:checked ~ .pag .pagina[for="1"]{
   background: #fff;
}
input[id="2"]:checked ~ .slide{
  animation: none;
  transform: translate3d(calc(-100% * 1),0,0);
}
input[id="2"]:checked ~ .pag .pagina[for="2"]{
  background: #fff;
}
input[id="3"]:checked ~ .slide{
  animation: none;
  transform: translate3d(calc(-100% * 2),0,0);
}
input[id="3"]:checked ~ .pag .pagina[for="3"]{
  background: #fff;
}
input[id="4"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 3),0,0);
}
input[id="4"]:checked ~ .pag .pagina[for="4"]{
    background: #fff;
}
@keyframes autoplay{
  25%{
      transform: translate3d(calc(-100% * 0), 0, 0);
  }
  50%{
      transform: translate3d(calc(-100% * 1), 0, 0);
  }
  75%{
      transform: translate3d(calc(-100% * 2), 0, 0);
  }
  100%{
    transform: translate3d(calc(-100% * 3), 0, 0);
  }
}
#co1{
    width: 80%;
    height: 100px;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 10%;
    background-color: var(--bgColor);
}
#co1 h2{
    background-image: var(--gradient);
   background-clip: text;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color:transparent;
   -moz-text-fill-color:transparent;
   text-align: center;
}
.pro1{
    background-color: #17191b;
    color: #fff;
    width: 180px;
    height: 40px;
    cursor: pointer;
    border:3px solid transparent;
    border-image: var(--gradient);
    border-image-slice: 1%;
    
}
footer{
    margin-top: 40px;
    background: var(--bgColor);
    width: 100%;
}
footer a{
    text-decoration: none;
    color: var(--colorFont);
}
.bloque1{
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    
}
.left h2{
    background-image: var(--gradient);
   background-clip: text;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color:transparent;
   -moz-text-fill-color:transparent;
   font-size: 1.5rem;  
}
.left ul{
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 1.6rem;
    list-style: none;
}

.right h3{
    font-size: 1rem;
    color: var(--colorFont);
}
.right .icons_redes{
    padding: 15px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    

}
.icons_redes svg{
    width: 20px;
    height: 20px;
}
.bloque2{
    padding-top: 20px;
    border-top: solid 3px transparent;
    border-image: linear-gradient(to right, #33CCCC 0%, #cc33b8 100%) 1;
}
.bloque2 div{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: max-content;
    margin: auto;
}
.bloque2 div img{
    width: 40px;
}

.bloque2 p{
    padding: 10px 0;
    text-align: center;
    font-size: 0.8rem;
    color: var(--colorFont);
}
/*====productos=======*/
section{
    
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap:50px;
    
}
#producto3{
    
    width: 350px;
    height: max-content;
    text-align: center;
    margin-top: 40px;
   
    
}
#prod3{
   
    width: 250px;
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
#prod3 figure{
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px
    rgba (0, 0, 0, 0.50);
    cursor: pointer
}
#prod3 figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
#prod3 figure .descripcion{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    background: rgba(26, 29, 29, 0.8);
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
#prod3 figure:hover> .descripcion{
    opacity: 1;
    visibility: visible;
}
#prod3 figure:hover >.descripcion h3{
    margin-top: 15px;
}

#prod3 figure .descripcion h3{
    
    font-size: 20px;
    text-decoration: none;
    padding: 10PX;
    display: block;
    background-image: var(--gradient);
   background-clip: text;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color:transparent;
   -moz-text-fill-color:transparent;
    

}