:root{
    --bgColor: #17191b;
    --colorNeon1: #33CCCC;
    --colorNeon2:#cc33b8;
    --colorFont:#fff;
}

*{margin: 0;padding: 0;box-sizing: border-box; font-family: sans-serif;}
#contenedor_2{
    width: 100%;
    background-color: #17191b;
    height: 180px;
    float: left;
    margin-top: 200px;
    border-bottom: solid 3px transparent;
    border-image: linear-gradient(to right, #33CCCC 0%, #cc33b8 100%) 1;
}
#bloque1{
    width: 30%;
    float: left;
    margin-left: 20%;
}
.l1{
   line-height: 100px;
   padding-left: 100px;
   background-image: linear-gradient(45deg, var(--colorNeon1),var(--colorNeon2) );
   background-clip: text;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color:transparent;
   -moz-text-fill-color:transparent;
   font-size: 30px;
   width: 300px;
   margin-left: 100px;
}
a {
    color: var(--colorFont);
    text-decoration: none;
}
.cua1{
    width: 160px;
    float: left;
    margin-left: 10px;
    text-align: center;
}
#bloque2{
    width: 40%;
    float: left;
    color: var(--colorFont);
    margin-left: 10%;
}
h2{
    line-height: 100px;
}
#contenedor_3{
    width: 100%;
    height: 100px;
    background-color: #17191b;
    float: left;
    text-align: center;
    padding: 20px;
    color: #fff;
    font-size: 15px;
}
#contenedor_3 img{
    padding-bottom: 20px ;
}
