.caja{
    position: relative;
    width: 160px;
    height: 220px;
    overflow: hidden;
}
.caja img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;

   
}
.caja img:hover{
    transform: scale(1.3);
}
.rojo{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(248, 0, 0);
    /* bottom: -100%;
    padding: 10px 65px;
    transition: .5s;
    opacity: 0.8; */
    bottom: -120%;
    padding: 5px 0px;
    transition: .5s; 
    opacity: 0.8;
    text-align: center;
}
.rojo p{
    color: white;
    font-size: 20px;
    font-weight: 600;
   
}
.caja:hover .rojo{
    bottom: -80%;
    transition: .5s;
}
.azul{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 26, 255);
    /* bottom: -100%;
    padding: 10px 65px;
    transition: .5s;
    opacity: 0.8; */
    bottom: -120%;
    padding: 5px 0px;
    transition: .5s; 
    opacity: 0.8;
    text-align: center;
}
.azul p{
    color: white;
    font-size: 20px;
   
}
.caja:hover .azul{
    bottom: -80%;
    transition: .5s;
    font-weight: 600;
}

.violeta{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(130, 0, 251);
    
    bottom: -120%;
    padding: 5px 0px;
    transition: .5s; 
    opacity: 0.8;
    text-align: center;
}
.violeta p{
    color: white;
    font-size: 20px;
    font-weight: 600;
   
}
.caja:hover .violeta{
    bottom: -80%;
    transition: .5s;
}
